body {
    background-image: url(./images/1412206.jpg);
    background-size: cover;
    height: 1000px;
    width: 100%;
}

header {
    text-align: center;
    padding: 10px;
    background-color: rgb(169, 169, 169);
    font-size: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

h1 {
    display: flex;
    justify-content: center;
    
}

/*section {
    display: flex;
    justify-content: center;
    margin: 25px;
}*/

#search {
    display: flex;
    justify-content: center;
    padding: 30px;
    background: rgba(5, 5, 5, 0.5);
}

button {
    margin-left: 5px;
}

#map {
    display: none;
}

#temp-results {
    text-align: center;
    color: white;
}

#list {
    text-align: center;
}

#list h1 {
    color: white;
}