header {
    text-align: center;
}

#hero {
    height: 1000px;
    width: 100%;
    background-size: cover;
    background-image: url(./images/1412206.jpg);
    background-position: center;
}

section {
    display: flex;
    justify-content: center;
}

button {
    margin-left: 5px;
}

#map {
    display: none;
}

